<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coetusstudio.hodanddeans">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iimtulogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iimtulogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.HodAndDeans"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activity.Home.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Notification.RecentFacultyNotification"
            android:exported="false" />
        <activity
            android:name=".Activity.Attendance.Delete_Attendance"
            android:exported="false" />
        <activity
            android:name=".Activity.Attendance.Select_Subject_Attendance"
            android:exported="false" />
        <activity
            android:name=".Activity.Attendance.AttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Administrator.Create_Sessional_Title"
            android:exported="false" />
        <activity
            android:name=".Activity.Administrator.Create_New_Subject"
            android:exported="false" />
        <activity
            android:name=".Activity.Administrator.CraeteBranchSectionActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Administrator.Create_New_Section"
            android:exported="false" />
        <activity
            android:name=".Activity.Administrator.Create_New_Semester"
            android:exported="false" />
        <activity
            android:name=".Activity.Administrator.Create_New_Branch"
            android:exported="false" />
        <activity
            android:name=".Activity.Notification.RecentnoticeActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Lecture.RecentmeetingActivity"
            android:exported="true"
            android:theme="@style/Theme.HodAndDeansNoAction" />
        <activity
            android:name=".Activity.Student.StudentdetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.HodAndDeansNoAction" />
        <activity
            android:name=".Activity.Notification.SentnotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Faculty.UpdateanddeletefacultyActivity"
            android:exported="true"
            android:theme="@style/Theme.HodAndDeansNoAction" />
        <activity
            android:name=".Activity.Form.CreateformActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Lecture.LivemeetingActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Faculty.AddfacultyActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Home.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.HodAndDeans.NoActionBar" />
        <activity
            android:name=".Activity.Home.LoginActivity"
            android:exported="true"
            android:label="IIMTU HOD and Deans"
            android:theme="@style/Theme.HodAndDeans.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>